{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- Personal favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png?v=20261009"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png?v=20261009" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png?v=20261009" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json?v=20261009"/>
<link rel="icon" href="{{ base_path }}/images/favicon.ico?v=20261009"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
